<div>
  <button (click)="listUsers()" type="button" class="btn-link">
    List All Users
  </button>
</div>

<div class="user-list-container" *ngIf="users.length > 0">
  <h2 class="user-list-heading">Users List</h2>
  <ul class="user-list">
    <li class="user-item" *ngFor="let user of users">
      <div class="user-details">
        <strong>Name:</strong> {{ user.firstName }} {{ user.lastName }} <br>
        <strong>Email:</strong> {{ user.email }} <br>
        <strong>City:</strong> {{ user.city }} <br>
        <strong>Phone Number:</strong> {{ user.phoneNumber }} <br>
        <strong>User Status:</strong> {{ user.status }}
      </div>
    </li>
  </ul>
</div>
